.maket{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.block{
    height: 200px;
}

.block1{
    background: red;
    width: 250px;
}

.block2{
    background: yellow;
    flex: 1;
}

.block3{
    background: green;
    width: 250px;
}

.footer{
    background: #55ffff;
    height: 100px;
}